html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-family: 'Labrada', serif;
  font-size: 2.5rem;
  position: absolute;
  margin: 0;
  left: 10px;
  color: rgb(46, 96, 65);
  text-shadow: 0 0 4px white;
}

.count {
  font-family: 'Labrada', serif;
  font-size: 1.5rem;
  font-weight: 400;
  position: absolute;
  margin: 0;
  top: 50px;
  left: 10px;
}

.controls { 
  font-family: 'Labrada', serif;
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  margin: 0;
  top: 85px;
  left: 10px;
}


